<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Anime list</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:;base64,iVBORw0KGgo="/>
        <link rel="icon" href="https://vignette.wikia.nocookie.net/thedreamdimension/images/0/0c/My_computer_anime_icon_by_hikanepb-d3j5a2v.png/revision/latest?cb=20160316205840"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        <link rel="stylesheet" href="../css/homepage.css"/>
        <script  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
        <script src="../model/Anime.js" async></script>
        <script src="../view/animeList.js" async></script>
    </head>
    <body>
        <header class="main-header sticky-header flex">
            <nav class="nav">
                <ul class="flex">
                    <li class="h-list">
                        <a href="index.html" class="links">Home</a>
                    </li>
                    <li class="h-list">
                        <a href="" class="links">Admin login</a>
                    </li>
                    <li class="h-list">
                        <a href="" class="links">Contact us</a>
                    </li>
                </ul>
            </nav>
            <form class="search-form">
                <input type="search" class="search" placeholder="Search anime..."/>
            </form>  
        </header>        
        <main class="homepage">
            <h1 class="main-title">Anime list</h1>
            <div class="anime-container">            
            </div>
        </main>
        <a class="scroll-to-top">&#x02949;</a>
    </body>
</html>
